// Place all the styles related to the Harvest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table,th,td {
  border:1px solid black;
  border-collapse:collapse
}
table {
  width:800px
}
tr .fields, td .fields {
  line-height:90px;
  font-size:250%;
  background-color: green;
  row-padding: 15px;
  border-bottom-width: 1em;
  border-bottom-color: white
}

table.fields {
  width:100%
}

tr .field, td .field {
  line-height:90px;
  font-size:250%;
  background-color: green;
  row-padding: 15px;
}

table.field {
  width:100%
}

input {
  font-size: 100%
}
input[type=submit] {
  width: 10em;
  height: 5em;
}